.resume-introduction{
  background-color: #5e43f3;
  text-align: center;
  margin-top: -30px;
}
.resume-greetings{
  font-size: 30px;
  padding-top: 10px;
  font-weight: 700;
}
.resume-description{
  font-size: 20px;
  font-style: italic;
  padding-left: 500px;
  padding-right: 500px;
  padding-bottom: 300px;
}